    <!-- contact us -->
    <section class="text-white bg-primary-500 py-128  font-noto-sans">
        <div class="container">
          <div class="row">
            <div class="col-12 col-lg-5">
            <div class="align-items-baseline">
              <h2 class="text-start mb-16 fs-40 fs-mb-48 letter-spacing-1 e">聯絡我們</h2>
              <div class="d-flex align-items-center mt-32">
                <div class="d-inline bg-white rounded-circle" style="height: 12px; width: 12px;"></div>
                <div class="d-inline bg-white d-inline rounded-pill ms-24" style="height: 12px; width: 180px;"></div>
              </div>
            </div>
            <div class="mt-36 mt-lg-60">
              <p>讓科技成為您的最佳夥伴</p>
              <p>立即體驗神奇功能並享限時優惠！</p>
            </div>
          </div>
          <div class="col-12 col-lg-7 text-black">
            <div class="my-24">
              <img src="../assets/images/emergency-lg.png" class="img-fluid" alt="emergency">
            </div>
            <div class="row">
            <div class="col-12 mt-16">
            <div class="form-floating">
              <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
              <label for="floatingInput" class="fw-bold">Email</label>
            </div>
            </div>
            <div class="col-12 mt-16">
              <div class="form-floating">
                <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px"></textarea>
                <label for="floatingTextarea2" class="fw-bold">Comments</label>
              </div>
            </div>
            </div>
            <div class=" position-relative">
            <button type="button" class="col-12 col-lg-6 btn btn-primary-300 my-16 rounded-1 position-absolute end-0">送出</button>
            </div>
            </div>
          </div>
        </div>
        </div>
      </section>