    <!-- news list -->
    <section class="text-white radialGradient pb-60">
        <div class="container">
          <h2 class="text-lg-start text-center pt-128 pb-60 fs-40 fs-mb-48 letter-spacing-1">最新消息</h2>
  
          <div class="row border-top border-bottom">
            <div class="col-12 border-bottom position-relative">
              <div class="row py-24 py-lg-40">
                <div class="col-lg-10 font-noto-sans">
                  <div class="letter-spacing-1 fs-20">
                    <time>
                        <img src="../assets/images/news/emergency.png" alt="emergency">
                        2023.06.30
                    </time>
                   <h5 class="card-title pt-8">限時優惠活動</h5>
                  </div>
                  <p class="card-text pt-8">榮幸地宣布，ALPHABOX+ 已成功完成最新一代的升級！本次升級包括提升投影解析度、優化語音辨識技術，以及擴充情感識別功能。歡迎您了解本次升級帶來的更為卓越的性能！</p>
                </div>
                <a href="#" class="col-lg-2 pt-24 pt-lg-60">
                  <img src="../assets/images/line_end_arrow_notch.png" alt="line_end_arrow_notch">
                </a>
              </div>
            </div>
  
            <div class="col-12 col-lg-6 border-bottom border-bottom-lg-0"> 
              <div class="row py-24 py-lg-40">
                <div class="col-12 font-noto-sans">
                  <div class="letter-spacing-1 fs-20">
                    <time>
                        <img src="../assets/images/news/emergency.png" alt="emergency">
                        2023.06.30
                    </time>
                   <h5 class="card-title pt-8">產 品 升 級 公 告</h5>
                  </div>
                  <p class="card-text pt-8">為答謝廣大用戶的支持，本月將舉辦一場限時優惠活動。訂閱 ALPHABOX+ 的顧客，皆可享受九折優惠。機會難得，請勿錯過此良機！</p>
                </div>
                <a href="#" class="col-12 pt-24">
                  <img src="../assets/images/line_end_arrow_notch.png" alt="line_end_arrow_notch">
                </a>
              </div>
            </div>
  
            <div class="col-12 col-lg-6 border-start-0 border-lg-start">
              <div class="row py-24 py-lg-40">
                <div class="col-12 font-noto-sans">
                  <div class="letter-spacing-1 fs-20">
                    <time>
                        <img src="../assets/images/news/emergency.png" alt="emergency">
                        2023.04.18
                    </time>
                   <h5 class="card-title pt-8">新功能上線</h5>
                  </div>
                  <p class="card-text pt-8">為使您的 ALPHABOX+ 更趨完善，我們不懈地研發創新功能。近期，我們新推出智慧家居控制功能，使您的機器人能更便利地協助您操作家中各類智能設備。</p>
                </div>
                <a href="#" class="col-12 pt-24">
                  <img src="../assets/images/line_end_arrow_notch.png" alt="line_end_arrow_notch">
                </a>
              </div>
            </div>
          </div>
        </div>
  
        <div class="container text-center my-60 position-relative">
        <a href="#">
          <span class="position-absolute top-50 start-50 translate-middle">查看更多</span>
          <img src="../assets/images/more.png" alt="more" class="alphaboxCircle img-fluid mx-auto d-block">
        </a>
        </div>
  
        <div class="container position-relative d-none d-lg-block">
          <p class="position-absolute bottom-0 end-0">為環保盡一份心力，我們的包裝盒和紙質說明書都使用環保材料</p>
        </div>
  
      </section>