    <!-- user -->
    <section class="text-white radialGradient-000 pt-128 pb-60">
        <div class="container">
          <div class="row align-items-baseline">
            <h2 class="col-12 col-lg-4 text-start mb-16 fs-40 fs-mb-48 letter-spacing-1">使用分享</h2>
            <p class="col-12 col-lg-8">展示其他使用者對於產品的真實體驗與評價，讓您更加放心選擇。</p>
          </div>
          <p class="font-noto-sans">01-04</p>
          <div class="">
          <img src="../assets/images/emergency-lg.png" class="img-fluid mt-40 mb-24" alt="emergency">
          </div>
        </div> 
        <div class="overflow-hidden">
            <div class="font-noto-sans ms-lg-80">
              <!-- mo 移除 swiper 正常使用格線系統排列就可以-->
              <div class="container p-24">
                <ul class="row g-24 list-unstyled d-lg-none">
                  <!-- Slides -->
                  <!-- slides 1 -->
                  <!-- 沒有辦法等高排排站的時候可以試試 height: auto（h-100）-->
                  <li class="col-12 col-sm-6 h-auto text-white">
                    <div class="bg-primary-400">
                      <div class="card-body d-flex flex-column">
                        <div class="p-16">
                          <h5 class="card-title align-self-start">Zona <span class="fs-72">.</span> Taipei</h5>
                          <p class="card-text">ALPHABOX+ 真的很夯！每次把它打開，感覺就像是身臨其境一樣。它陪我度過了很多寂寞的時光，讓我在家裡也能享受到優質的休閒時光。</p>
                        </div>
                        <div class="card-footer px-16">
                          <a href="#"><span class="fs-96">..</span> ALPHABOX+ Dianne</a>
                        </div>
                      </div>
                    </div>
                  </li>
  
                  <!-- slides 2 -->
                  <li class="col-12 col-sm-6 h-auto text-black">
                    <div class="bg-white">
                      <div class="card-body d-flex flex-column">
                        <div class="p-16">
                          <h5 class="card-title align-self-start">Lin  <span class="fs-72">.</span> Chiayi</h5>
                          <p class="card-text">非常推薦！它的畫面清晰度超高，真的讓我驚艷不已。而且它還可以和我互動，感覺就像是有個真實的朋友在身邊。</p>
                        </div>
                        <div class="card-footer px-16">
                          <a href="#" class="text-black"><span class="fs-96 ">..</span> ALPHABOX+ Dianne</a>
                        </div>
                      </div>
                    </div>
                  </li>
  
                  <!-- slides 3 -->
                  <li class="col-12 col-sm-6 h-auto text-white">
                    <div class="bg-primary-400">
                      <div class="card-body d-flex flex-column">
                        <div class="p-16">
                          <h5 class="card-title align-self-start">Zona <span class="fs-72">.</span> Taipei</h5>
                          <p class="card-text">ALPHABOX+ 真的很夯！每次把它打開，感覺就像是身臨其境一樣。它陪我度過了很多寂寞的時光，讓我在家裡也能享受到優質的休閒時光。</p>
                        </div>
                        <div class="card-footer px-16">
                          <a href="#"><span class="fs-96">..</span> ALPHABOX+ Dianne</a>
                        </div>
                      </div>
                    </div>
                  </li>
  
                  <!-- slides 4 -->
                  <li class="col-12 col-sm-6 h-auto text-black">
                    <div class="bg-white">
                      <div class="card-body d-flex flex-column">
                        <div class="p-16">
                          <h5 class="card-title align-self-start">Lin  <span class="fs-72">.</span> Chiayi</h5>
                          <p class="card-text">非常推薦！它的畫面清晰度超高，真的讓我驚艷不已。而且它還可以和我互動，感覺就像是有個真實的朋友在身邊。</p>
                        </div>
                        <div class="card-footer px-16">
                          <a href="#" class="text-black"><span class="fs-96">..</span> ALPHABOX+ Dianne</a>
                        </div>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>  
              <!-- mo end -->
  
              <!-- pc swiper -->
              <div class="swiper d-none d-lg-block">
                <!-- Additional required wrapper -->
                <ul class="swiper-wrapper list-unstyled">
                  <!-- Slides -->
                  <!-- slides 1 -->
                  <!-- 沒有辦法等高排排站的時候可以試試 height: auto（h-100）-->
                  <li class="swiper-slide bg-primary-400 text-white h-auto">
                    <div class="">
                      <div class="card-body d-flex flex-column">
                        <div class="p-16">
                          <h5 class="card-title align-self-start">Zona <span class="fs-72">.</span> Taipei</h5>
                          <p class="card-text">ALPHABOX+ 真的很夯！每次把它打開，感覺就像是身臨其境一樣。它陪我度過了很多寂寞的時光，讓我在家裡也能享受到優質的休閒時光。</p>
                        </div>
                        <div class="card-footer px-16">
                          <a href="#"><span class="fs-96">..</span> ALPHABOX+ Dianne</a>
                        </div>
                      </div>
                    </div>
                  </li>
  
                  <!-- slides 2 -->
                  <li class="swiper-slide bg-white text-black h-auto">
                    <div class="">
                      <div class="card-body d-flex flex-column">
                        <div class="p-16">
                          <h5 class="card-title align-self-start">Lin  <span class="fs-72">.</span> Chiayi</h5>
                          <p class="card-text">非常推薦！它的畫面清晰度超高，真的讓我驚艷不已。而且它還可以和我互動，感覺就像是有個真實的朋友在身邊。</p>
                        </div>
                        <div class="card-footer">
                          <a href="#" class="text-black"><span class="fs-96 ">..</span> ALPHABOX+ Dianne</a>
                        </div>
                      </div>
                    </div>
                  </li>
  
                  <!-- slides 3 -->
                  <li class="swiper-slide bg-primary-400 text-white h-auto">
                    <div class="">
                      <div class="card-body d-flex flex-column">
                        <div class="p-16">
                          <h5 class="card-title align-self-start">Zona <span class="fs-72">.</span> Taipei</h5>
                          <p class="card-text">ALPHABOX+ 真的很夯！每次把它打開，感覺就像是身臨其境一樣。它陪我度過了很多寂寞的時光，讓我在家裡也能享受到優質的休閒時光。</p>
                        </div>
                        <div class="card-footer">
                          <a href="#"><span class="fs-96">..</span> ALPHABOX+ Dianne</a>
                        </div>
                      </div>
                    </div>
                  </li>
  
                  <!-- slides 4 -->
                  <li class="swiper-slide bg-white text-black h-auto">
                    <div class="">
                      <div class="card-body d-flex flex-column">
                        <div class="p-16">
                          <h5 class="card-title align-self-start">Lin  <span class="fs-72">.</span> Chiayi</h5>
                          <p class="card-text">非常推薦！它的畫面清晰度超高，真的讓我驚艷不已。而且它還可以和我互動，感覺就像是有個真實的朋友在身邊。</p>
                        </div>
                        <div class="card-footer">
                          <a href="#" class="text-black"><span class="fs-96">..</span> ALPHABOX+ Dianne</a>
                        </div>
                      </div>
                    </div>
                  </li>
                </ul>
  
                <div class="row share-scroll align-items-center mt-48">
                  <div class="col-8">
                    <div class="swiper-scrollbar position-static"></div>
                  </div>
                  <div class="col-4 d-flex align-items-center">
                    <p class="text-white mb-0">SCROLL</p>
                  </div>
                </div>
              </div>
              <!-- pc swiper end -->
  
              <p class="mt-128 d-none d-lg-block">若您有任何疑問或建議，歡迎隨時與我們聯絡，我們將竭誠為您解答。</p>
            </div>
        </div>
  
  
      </section>