.shareCard {
  padding: 40px;
}

.swiper {
  overflow: initial;
}

/* 滾動條可拖曳區塊的顏色 */
.swiper-scrollbar-drag {
  background-color: $white;
}

/* 整個滾動條的背景顏色 */
.swiper-scrollbar {
  background-color: $gray-800;
}