<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>index</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css"/>
  </head>
  <body>
    <%- include('./layout/header'); -%>



    <!-- news list -->
    <section class="text-white radialGradient pb-60">
      <div class="container">
        <h2 class="text-lg-start text-center pt-128 pb-60 fs-40 fs-mb-48 letter-spacing-1">最新消息</h2>

        <div class="row border-top border-bottom">
          <div class="col-12 border-bottom position-relative">
            <div class="row py-24 py-lg-40">
              <div class="col-lg-10 font-noto-sans">
                <div class="letter-spacing-1 fs-20">
                  <time>
                      <img src="../assets/images/news/emergency.png" alt="emergency">
                      2023.06.30
                  </time>
                 <h5 class="card-title pt-8">限時優惠活動</h5>
                </div>
                <p class="card-text pt-8">榮幸地宣布，ALPHABOX+ 已成功完成最新一代的升級！本次升級包括提升投影解析度、優化語音辨識技術，以及擴充情感識別功能。歡迎您了解本次升級帶來的更為卓越的性能！</p>
              </div>
              <a href="#" class="col-lg-2 pt-24 pt-lg-60">
                <img src="../assets/images/line_end_arrow_notch.png" alt="line_end_arrow_notch">
              </a>
            </div>
          </div>

          <div class="col-12 col-lg-6 border-bottom border-bottom-lg-0"> 
            <div class="row py-24 py-lg-40">
              <div class="col-12 font-noto-sans">
                <div class="letter-spacing-1 fs-20">
                  <time>
                      <img src="../assets/images/news/emergency.png" alt="emergency">
                      2023.06.30
                  </time>
                 <h5 class="card-title pt-8">產 品 升 級 公 告</h5>
                </div>
                <p class="card-text pt-8">為答謝廣大用戶的支持，本月將舉辦一場限時優惠活動。訂閱 ALPHABOX+ 的顧客，皆可享受九折優惠。機會難得，請勿錯過此良機！</p>
              </div>
              <a href="#" class="col-12 pt-24">
                <img src="../assets/images/line_end_arrow_notch.png" alt="line_end_arrow_notch">
              </a>
            </div>
          </div>

          <!-- 這邊的 border-start 沒有效果 -->
          <div class="col-12 col-lg-6 border-start-0 border-lg-start">
            <div class="row py-24 py-lg-40">
              <div class="col-12 font-noto-sans">
                <div class="letter-spacing-1 fs-20">
                  <time>
                      <img src="../assets/images/news/emergency.png" alt="emergency">
                      2023.04.18
                  </time>
                 <h5 class="card-title pt-8">新功能上線</h5>
                </div>
                <p class="card-text pt-8">為使您的 ALPHABOX+ 更趨完善，我們不懈地研發創新功能。近期，我們新推出智慧家居控制功能，使您的機器人能更便利地協助您操作家中各類智能設備。</p>
              </div>
              <a href="#" class="col-12 pt-24">
                <img src="../assets/images/line_end_arrow_notch.png" alt="line_end_arrow_notch">
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="container text-center my-60 position-relative">
      <a href="#" class="">
        <span class="position-absolute top-50 start-50 translate-middle">查看更多</span>
        <img src="../assets/images/more.png" alt="more" class="alphaboxCircle img-fluid mx-auto d-block">
      </a>
      </div>

      <div class="container position-relative d-none d-lg-block">
        <p class="position-absolute bottom-0 end-0">為環保盡一份心力，我們的包裝盒和紙質說明書都使用環保材料</p>
      </div>

    </section>

    <!-- user -->
    <section class="text-white radialGradient-000 pt-128 pb-60">
      <div class="container">
        <div class="row align-items-baseline">
          <h2 class="col-12 col-lg-4 text-start mb-16 fs-40 fs-mb-48 letter-spacing-1">使用分享</h2>
          <p class="col-12 col-lg-8">展示其他使用者對於產品的真實體驗與評價，讓您更加放心選擇。</p>
        </div>
        <p class="font-noto-sans">01-04</p>
        <div class="">
        <img src="../assets/images/emergency-lg.png" class="img-fluid mt-40 mb-24" alt="emergency">
        </div>
      </div> 
      <div class="overflow-hidden">
          <div class="font-noto-sans ms-lg-80">
            <!-- mo 移除 swiper 正常使用格線系統排列就可以-->
            <div class="container p-24">
              <ul class="row g-24 list-unstyled d-lg-none">
                <!-- Slides -->
                <!-- slides 1 -->
                <!-- 沒有辦法等高排排站的時候可以試試 height: auto（h-100）-->
                <li class="col-12 col-sm-6 h-auto text-white">
                  <div class="card bg-primary-400">
                    <div class="card-body d-flex flex-column">
                      <div class="p-16">
                        <h5 class="card-title align-self-start">Zona <span class="fs-72">.</span> Taipei</h5>
                        <p class="card-text">ALPHABOX+ 真的很夯！每次把它打開，感覺就像是身臨其境一樣。它陪我度過了很多寂寞的時光，讓我在家裡也能享受到優質的休閒時光。</p>
                      </div>
                      <div class="card-footer">
                        <a href="#"><span class="fs-96">..</span> ALPHABOX+ Dianne</a>
                      </div>
                    </div>
                  </div>
                </li>

                <!-- slides 2 -->
                <li class="col-12 col-sm-6 h-auto text-black">
                  <div class="card bg-white">
                    <div class="card-body d-flex flex-column">
                      <div class="p-16">
                        <h5 class="card-title align-self-start">Lin  <span class="fs-72">.</span> Chiayi</h5>
                        <p class="card-text">非常推薦！它的畫面清晰度超高，真的讓我驚艷不已。而且它還可以和我互動，感覺就像是有個真實的朋友在身邊。</p>
                      </div>
                      <div class="card-footer">
                        <a href="#" class="text-black"><span class="fs-96 ">..</span> ALPHABOX+ Dianne</a>
                      </div>
                    </div>
                  </div>
                </li>

                <!-- slides 3 -->
                <li class="col-12 col-sm-6 h-auto text-white">
                  <div class="card bg-primary-400">
                    <div class="card-body d-flex flex-column">
                      <div class="p-16">
                        <h5 class="card-title align-self-start">Zona <span class="fs-72">.</span> Taipei</h5>
                        <p class="card-text">ALPHABOX+ 真的很夯！每次把它打開，感覺就像是身臨其境一樣。它陪我度過了很多寂寞的時光，讓我在家裡也能享受到優質的休閒時光。</p>
                      </div>
                      <div class="card-footer">
                        <a href="#"><span class="fs-96">..</span> ALPHABOX+ Dianne</a>
                      </div>
                    </div>
                  </div>
                </li>

                <!-- slides 4 -->
                <li class="col-12 col-sm-6 h-auto text-black">
                  <div class="card bg-white">
                    <div class="card-body d-flex flex-column">
                      <div class="p-16">
                        <h5 class="card-title align-self-start">Lin  <span class="fs-72">.</span> Chiayi</h5>
                        <p class="card-text">非常推薦！它的畫面清晰度超高，真的讓我驚艷不已。而且它還可以和我互動，感覺就像是有個真實的朋友在身邊。</p>
                      </div>
                      <div class="card-footer">
                        <a href="#" class="text-black"><span class="fs-96">..</span> ALPHABOX+ Dianne</a>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
            </div>  
            <!-- mo end -->

            <!-- pc swiper -->
            <div class="swiper d-none d-lg-block">
              <!-- Additional required wrapper -->
              <ul class="swiper-wrapper list-unstyled">
                <!-- Slides -->
                <!-- slides 1 -->
                <!-- 沒有辦法等高排排站的時候可以試試 height: auto（h-100）-->
                <li class="swiper-slide bg-primary-400 text-white h-auto">
                  <div class="card">
                    <div class="card-body d-flex flex-column">
                      <div class="p-16">
                        <h5 class="card-title align-self-start">Zona <span class="fs-72">.</span> Taipei</h5>
                        <p class="card-text">ALPHABOX+ 真的很夯！每次把它打開，感覺就像是身臨其境一樣。它陪我度過了很多寂寞的時光，讓我在家裡也能享受到優質的休閒時光。</p>
                      </div>
                      <div class="card-footer">
                        <a href="#"><span class="fs-96">..</span> ALPHABOX+ Dianne</a>
                      </div>
                    </div>
                  </div>
                </li>

                <!-- slides 2 -->
                <li class="swiper-slide bg-white text-black h-auto">
                  <div class="card">
                    <div class="card-body d-flex flex-column">
                      <div class="p-16">
                        <h5 class="card-title align-self-start">Lin  <span class="fs-72">.</span> Chiayi</h5>
                        <p class="card-text">非常推薦！它的畫面清晰度超高，真的讓我驚艷不已。而且它還可以和我互動，感覺就像是有個真實的朋友在身邊。</p>
                      </div>
                      <div class="card-footer">
                        <a href="#" class="text-black"><span class="fs-96 ">..</span> ALPHABOX+ Dianne</a>
                      </div>
                    </div>
                  </div>
                </li>

                <!-- slides 3 -->
                <li class="swiper-slide bg-primary-400 text-white h-auto">
                  <div class="card">
                    <div class="card-body d-flex flex-column">
                      <div class="p-16">
                        <h5 class="card-title align-self-start">Zona <span class="fs-72">.</span> Taipei</h5>
                        <p class="card-text">ALPHABOX+ 真的很夯！每次把它打開，感覺就像是身臨其境一樣。它陪我度過了很多寂寞的時光，讓我在家裡也能享受到優質的休閒時光。</p>
                      </div>
                      <div class="card-footer">
                        <a href="#"><span class="fs-96">..</span> ALPHABOX+ Dianne</a>
                      </div>
                    </div>
                  </div>
                </li>

                <!-- slides 4 -->
                <li class="swiper-slide bg-white text-black h-auto">
                  <div class="card">
                    <div class="card-body d-flex flex-column">
                      <div class="p-16">
                        <h5 class="card-title align-self-start">Lin  <span class="fs-72">.</span> Chiayi</h5>
                        <p class="card-text">非常推薦！它的畫面清晰度超高，真的讓我驚艷不已。而且它還可以和我互動，感覺就像是有個真實的朋友在身邊。</p>
                      </div>
                      <div class="card-footer">
                        <a href="#" class="text-black"><span class="fs-96">..</span> ALPHABOX+ Dianne</a>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>

              <div class="row share-scroll align-items-center mt-48">
                <div class="col-8">
                  <div class="swiper-scrollbar position-static"></div>
                </div>
                <div class="col-4 d-flex align-items-center">
                  <p class="text-white mb-0">SCROLL</p>
                </div>
              </div>
            </div>
            <!-- pc swiper end -->

            <p class="mt-128 d-none d-lg-block">若您有任何疑問或建議，歡迎隨時與我們聯絡，我們將竭誠為您解答。</p>
          </div>
      </div>


    </section>

    <!-- contact us -->
    <section class="text-white bg-primary-500 py-128  font-noto-sans">
      <div class="container">
        <div class="row">
          <div class="col-12 col-lg-5">
          <div class="align-items-baseline">
            <h2 class="text-start mb-16 fs-40 fs-mb-48 letter-spacing-1 e">聯絡我們</h2>
            <div class="d-flex align-items-center mt-32">
              <div class="d-inline bg-white rounded-circle" style="height: 12px; width: 12px;"></div>
              <div class="d-inline bg-white d-inline rounded-pill ms-24" style="height: 12px; width: 180px;"></div>
            </div>
          </div>
          <div class="mt-36 mt-lg-60">
            <p>讓科技成為您的最佳夥伴</p>
            <p>立即體驗神奇功能並享限時優惠！</p>
          </div>
        </div>
        <div class="col-12 col-lg-7 text-black">
          <div class="my-24">
            <img src="../assets/images/emergency-lg.png" class="img-fluid" alt="emergency">
          </div>
          <div class="row">
          <div class="col-12 mt-16">
          <div class="form-floating">
            <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
            <label for="floatingInput" class="fw-bold">Email</label>
          </div>
          </div>
          <div class="col-12 mt-16">
            <div class="form-floating">
              <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px"></textarea>
              <label for="floatingTextarea2" class="fw-bold">Comments</label>
            </div>
          </div>
          </div>
          <div class=" position-relative">
          <button type="button" class="col-12 col-lg-6 btn btn-primary-300 my-16 rounded-1 position-absolute end-0">送出</button>
          </div>
          </div>
        </div>
      </div>
      </div>
    </section>



    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>

    <script>
      const swiper = new Swiper('.swiper', {
        // slide 間距
        spaceBetween: 24,
        slidesPerView: 3.5,

        // Scrollbar
        mousewheel: true,
        scrollbar: {
          el: ".swiper-scrollbar",
          draggable: true
        },
        
        // 使 swiper 可以使用滑鼠滾輪捲動
        mousewheel: true,
      });
    </script>
  </body>
</html>
