<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>news</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>
    <main class="text-white radialGradient">
        <div class="container">
          <h1 class="text-lg-center text-sm-start pt-128 pb-60 fs-40 fs-mb-48 letter-spacing-1">最新消息</h1>
          <!-- card 1 -->
          <div class="row">
          <div class="col-12 col-lg-10 mx-auto mb-60 position-relative">
            <div class="row d-flex align-items-center">
              <p class="col-2 col-lg-1 fs-96 fs-lg-128 font-saira">1</p>
              ​<picture class="col-10 col-lg-2">
                <!-- 這邊改圖片 -->
                <source media="(max-width:1000px)" srcset="../assets/images/mobile/news_mobile.png">
                <img src="../assets/images/news/news.png" class="img-fluid" alt="newslist1">
                <!-- 圖片結束 -->
              </picture>
              <div class="col-12 col-lg-8 my-18 fs-20">
                <div class="card-body border-top border-bottom py-24 py-lg-40 font-noto-sans">
                  <div class="letter-spacing-1">
                    <time>
                        <img src="../assets/images/news/emergency.png" alt="emergency">
                        2023.06.30
                    </time>
                   <h5 class="card-title pt-8">產 品 升 級 公 告</h5>
                  </div>
                  <p class="card-text pt-8">榮幸地宣布，ALPHABOX+ 已成功完成最新一代的升級！本次升級包括提升投影解析度、優化語音辨識技術，以及擴充情感識別功能。歡迎您了解本次升級帶來的更為卓越的性能！</p>
                </div>
              </div>
              <button type="button" class="btn col-12 col-lg-1 position-absolute position-absolute bottom-lg-0 end-lg-0">
                <img src="../assets/images/news/arrow_forward.png" alt="arrow_forward">
              </button>
            </div>
            
          </div>

          <!-- card 2 -->
          <div class="col-12 col-lg-10 mx-auto mb-60 position-relative">
            <div class="row d-flex align-items-center">
              <p class="col-2 col-lg-1 fs-96 fs-lg-128 font-saira">2</p>
              ​<picture class="col-10 col-lg-2">
                <!-- 這邊改圖片 -->
                <source media="(max-width:1000px)" srcset="../assets/images/mobile/thanks_mobile.png">
                <img src="../assets/images/news/thanks.png" class="img-fluid" alt="newslist1">
                <!-- 圖片結束 -->
              </picture>
              <div class="col-12 col-lg-8 my-18 fs-20">
                <div class="card-body border-top border-bottom py-24 py-lg-40 font-noto-sans">
                  <div class="letter-spacing-1">
                    <time>
                        <img src="../assets/images/news/emergency.png" alt="emergency">
                        2023.06.01
                    </time>
                   <h5 class="card-title pt-8">限時優惠活動</h5>
                  </div>
                  <p class="card-text pt-8">為答謝廣大用戶的支持，本月將舉辦一場限時優惠活動。購買 ALPHABOX+ 的顧客，皆可享受九折優惠。機會難得，請勿錯過此良機！本月將舉辦一場限時優惠活動。購買 ALPHABOX+ 的顧客，皆可享受九折優惠。</p>
                </div>
              </div>
              <button type="button" class="btn col-12 col-lg-1 position-absolute position-absolute bottom-lg-0 end-lg-0">
                <img src="../assets/images/news/arrow_forward.png" alt="arrow_forward">
              </button>
            </div>
            
          </div>

          <!-- card 3 -->
          <div class="col-12 col-lg-10 mx-auto mb-60 position-relative">
            <div class="row d-flex align-items-center">
              <p class="col-2 col-lg-1 fs-96 fs-lg-128 font-saira">3</p>
              ​<picture class="col-10 col-lg-2">
                <!-- 這邊改圖片 -->
                <source media="(max-width:1000px)" srcset="../assets/images/mobile/exhibition_mobile.png">
                <img src="../assets/images/news/exhibition.png" class="img-fluid" alt="newslist1">
                <!-- 圖片結束 -->
              </picture>
              <div class="col-12 col-lg-8 my-18 fs-20">
                <div class="card-body border-top border-bottom py-24 py-lg-40 font-noto-sans">
                  <div class="letter-spacing-1">
                    <time>
                        <img src="../assets/images/news/emergency.png" alt="emergency">
                        2023.06.30
                    </time>
                   <h5 class="card-title pt-8">參加科技展覽</h5>
                  </div>
                  <p class="card-text pt-8">本公司將參與今年的台灣國際科技展覽，屆時將展示最新款的3D立體陪伴機器人。誠摯邀請您親臨現場，親自體驗這款創新的產品！屆時將展示最新款的3D立體陪伴機器人。誠摯邀請您親臨現場，親自體驗這款創新的產品！</p>
                </div>
              </div>
              <button type="button" class="btn col-12 col-lg-1 position-absolute position-absolute bottom-lg-0 end-lg-0">
                <img src="../assets/images/news/arrow_forward.png" alt="arrow_forward">
              </button>
            </div>
            
          </div>

          <!-- card 4 -->
          <div class="col-12 col-lg-10 mx-auto mb-60 position-relative">
            <div class="row d-flex align-items-center">
              <p class="col-2 col-lg-1 fs-96 fs-lg-128 font-saira">4</p>
              ​<picture class="col-10 col-lg-2">
                <!-- 這邊改圖片 -->
                <source media="(max-width:1000px)" srcset="../assets/images/mobile/update_mobile.png">
                <img src="../assets/images/news/update.png" class="img-fluid" alt="newslist1">
                <!-- 圖片結束 -->
              </picture>
              <div class="col-12 col-lg-8 my-18 fs-20">
                <div class="card-body border-top border-bottom py-24 py-lg-40 font-noto-sans">
                  <div class="letter-spacing-1">
                    <time>
                        <img src="../assets/images/news/emergency.png" alt="emergency">
                        2023.06.30
                    </time>
                   <h5 class="card-title pt-8">新功能上線</h5>
                  </div>
                  <p class="card-text pt-8">為使您的3D立體陪伴機器人更趨完善，我們不懈地研發創新功能。近期，我們新推出智慧家居控制功能，使您的機器人能更便利地協助您操作家中各類智能設備。近期，我們新推出智慧家居控制功能。</p>
                </div>
              </div>
              <button type="button" class="btn col-12 col-lg-1 position-absolute position-absolute bottom-lg-0 end-lg-0">
                <img src="../assets/images/news/arrow_forward.png" alt="arrow_forward">
              </button>
            </div>
            
          </div>

          <!-- card 5 -->
          <div class="col-12 col-lg-10 mx-auto mb-60 position-relative">
            <div class="row d-flex align-items-center">
              <p class="col-2 col-lg-1 fs-96 fs-lg-128 font-saira">5</p>
              ​<picture class="col-10 col-lg-2">
                <!-- 這邊改圖片 -->
                <source media="(max-width:1000px)" srcset="../assets/images/mobile/interview_mobile.png">
                <img src="../assets/images/news/interview.png" class="img-fluid" alt="newslist1">
                <!-- 圖片結束 -->
              </picture>
              <div class="col-12 col-lg-8 my-18 fs-20">
                <div class="card-body border-top border-bottom py-24 py-lg-40 font-noto-sans">
                  <div class="letter-spacing-1">
                    <time>
                        <img src="../assets/images/news/emergency.png" alt="emergency">
                        2023.06.30
                    </time>
                   <h5 class="card-title pt-8">用戶見面會</h5>
                  </div>
                  <p class="card-text pt-8">為進一步滿足客戶需求，並優化產品性能，我們將舉行用戶見面會。屆時，我們將向您展示我們的研發成果，同時聆聽您的意見和建議，讓我們共同打造更完美的產品！同時聆聽您的意見和建議！</p>
                </div>
              </div>
              <button type="button" class="btn col-12 col-lg-1 position-absolute position-absolute bottom-lg-0 end-lg-0">
                <img src="../assets/images/news/arrow_forward.png" alt="arrow_forward">
              </div>
            </button>
            
          </div>
        </div>
      </div>

        <div aria-label="Page navigation">
          <ul class="pagination font-saira d-flex justify-content-center pb-60">
            <li class="page-item"><a class="page-link fs-24 avtive" href="#">1</a></li>
            <li class="page-item"><a class="page-link fs-24" href="#">2</a></li>
            <li class="page-item"><a class="page-link fs-24" href="#">3</a></li>
          </ul>
        </div>

    </main>
    
    <%- include('./layout/footer'); -%>


    <script type="module" src="../main.js"></script>
  </body>
</html>
